[submodule ".vim/plugin/vim-pathogen"]
	path = .vim/plugin/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule ".vim/bundle/asyncrun.vim"]
	path = .vim/bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule ".vim/bundle/vim-argumentative"]
	path = .vim/bundle/vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative
